.button {
    display: block;
    width: 140px;
    background-color: #39c0ed;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

.button:hover {
    background-color: #16b5ea;
}